<form #reservationForm>

  <div class="form-group">
    <label class="col-md-4 control-label"><h1>Reservation</h1></label>
    <div class="col-md-4">
      <span class="help-block">Start date</span>
      <input class="input" type="date" name="date" [(ngModel)]="reservations.startDate" required>
      <br>
      <span class="help-block">End date</span>
      <input class="input" type="date" name="date" [(ngModel)]="reservations.endDate" required>


        <button class="submit" (click)="addReservation()">Add</button>

    </div>
  </div>
</form>

<div class="about">
  <h2>About hotel</h2>
  <h5><p>Lorem ipsum dolor sit amet eros. Phasellus vitae erat eu ante.
    <p> Proin dui nunc, sed dolor sed felis. Curabitur vel massa. Ut turpis.
    Duis dictum. Fusce aliquam dictum commodo, odio urna.</p></h5>
</div>
