<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Search hotel</h2>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input  class="form-control input-sm" type="name" placeholder="Hotel name"  [(ngModel)]="name" required />
          <span class="input-group-btn" *ngIf="hotels!=null">
            <button class="btn btn-info btn-lg" (click)="searchHotels()"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div *ngIf = "hotels!=null">
    <div *ngFor="let hotel of hotels | async">
      <a [routerLink]="['/hotel-list/',hotel.id]"><span> Hotel: {{hotel.hotelName}} Adress: {{hotel.adress}}</span></a>
    </div>
  </div>
</div>








